.SideBar
  .SideBar__SideHeader
    .SideHeaderItems
      %p(class="SideHeaderitems__UserName") UserName
      %ul(class="SideHeaderItems__icons")
        %li(class="GroupCreationIcon") 
          =link_to "#", class:"EditIcon" do
            %i.fa.fa-edit
        %li(class="ToolIcon")
          =link_to "#" , class:"CogIcon" do
            %i.fa.fa-cog
  .SideBar__SideGroups
    .SideGroups__Group1
      .GroupsItems
        %p(class="GroupItems__GroupName") 
          = link_to "#" do
            chat group 1
        %p(class="GroupItems__GroupInfo") 
          = link_to "#" do
            まだメッセージがありません
    .SideGroups__Group2
      .GroupsItems
        %p(class="GroupItems__GroupName") 
          = link_to "#" do
            chat group 2
        %p(class="GroupItems__GroupInfo") 
          = link_to "#" do
            メッセージ